<h3>1 : Interpolation</h3>
<p>{{name}}</p>
<p>{{getName()}}</p>
<p>{{obj.name}} {{obj.age}}</p>
<p>{{arr[0]}}</p>
<p>{{arr.length}}</p>
<h3>2 : Component</h3>
<app-blog></app-blog>
<h3>3 : Modules</h3>
<app-login></app-login>
<app-signup></app-signup>
<h3>4 : Functions</h3>
<button (click)="test('Function call')">Click Me</button>
<h3>5 : Events</h3>
<button (click)="myEvent('Event Called')">click me</button><br><br>
<!-- <input (keyup)="myEvent('keyup value')" type="text"> -->
<!-- <input #peter (keyup)="myEvent(peter.value)" type="text"> -->
<!-- <input #peter (keyup.enter)="myEvent(peter.value)" type="text"> -->
<!-- <input (blur)="myEvent('blur event')" type="text"> -->
<!-- <div 
  (mouseover)="myEvent('mouse in')" 
  (mouseleave)="myEvent('mouse leave')"
  style="background-color: aqua; width: 60%;">
  Mouse Hover and leave
</div> -->

<h3>6 : get textbox value by value change and click button</h3>
<!-- <input #peter (keyup)="myEvent(peter.value)" type="text"><br> -->
<!-- <input (keyup)="myEvent($event.target)" type="text"> -->
<input #peter type="text"><br><br>
<button (click)="myEvent(peter.value)">get value</button>
<p>{{currentVal}}</p><br>
<h3>7 : Propery binding and Interpolation</h3>
<input type="text" [disabled]="disabledBox" [value]="name"><br><br>
<input type="text" disabled={{disabledBox}} value={{name}}><br><br>
<button (click)="enableBox()">Enable</button><br><br>

<select>
  <option value="" disabled selected>Select city</option>
  <option [value]="city">Karachi</option>
  <option value="isb">Islamabad</option>
  <option value="bagh">Bagh</option>
</select>
<h3>8 : Conditions</h3>
<!-- <p *ngIf='show else elseBlock'>
  if block
</p>
<ng-template #elseBlock>
  else block
</ng-template> -->

<!-- <div *ngIf="show; else elseIfBlock">
    IF block 
  </div>
  
  <ng-template #elseIfBlock>
    <div *ngIf="show; else elseBlock">
      ELSE IF block 
    </div>
  </ng-template>
  
  <ng-template #elseBlock>
    ELSE block 
  </ng-template> -->

<!-- <p *ngIf="show=='red' else elseIfBlock">
  red block
</p>
<ng-template #elseIfBlock>
  <p *ngIf="show=='green' else elseBlock">
    green block
  </p>
</ng-template>

<ng-template #elseBlock>
  <p *ngIf="show=='blue'">
    blue block
  </p>
</ng-template> -->

<ng-template [ngIf]="show=='red'">
  red color
</ng-template>
<ng-template [ngIf]="show=='green'">
  green color
</ng-template>
<ng-template [ngIf]="show=='blue'">
  blue color
</ng-template>
<h3>9 : Switch case</h3>

<div [ngSwitch]='color'>
  <h6 *ngSwitchCase="'red'">
    red color
  </h6>
  <h6 *ngSwitchCase="'green'">
    green color
  </h6>
  <h6 *ngSwitchCase="'blue'">
    blue color
  </h6>
  <h6 *ngSwitchDefault>
    No color found
  </h6>
</div>

<div [ngSwitch]='role'>
  <h5 *ngSwitchCase="'admin'">
    Welcome Admin!
  </h5>
  <h5 *ngSwitchCase="'patient'">
    Welcome Patient!
  </h5>
  <h5 *ngSwitchCase="'nurse'">
    Welcome Nurse!
  </h5>
  <h5 *ngSwitchDefault>
    no user found
  </h5>
</div>
<h3>10 : For loop</h3>
<!-- <p *ngFor='let item of data'>
{{item}}
</p> -->
<!-- <p *ngFor="let item of data ; let i = index">
{{i + 1}} - {{item}}
</p> -->
<!-- <p *ngFor='let item of data'>
 {{item.name}} {{item.age}}
</p> -->

<table border="1">
  <tr>
    <th>Name</th>
    <th>Age</th>
  </tr>
  <tr *ngFor='let item of data'>
    <td>{{item.name}}</td>
    <td>{{item.age}}</td>
  </tr>
</table>
<h3>11 : Simple Forms</h3>
<form #simpleform="ngForm" (ngSubmit)="getUserValue(simpleform.value)">
  <input type="text" ngModel name="name" placeholder="Enter name"><br><br>
  <input type="password" ngModel name="password" placeholder="Enter password"><br><br>
  <button>Login</button>

</form>

<h3>11 : Styling</h3>
<h4 style="color: brown;">Normal style</h4>
<h4 [style.color]="'orange'">Style binding</h4>
<h4 [style.color]='color'>Dynamic style</h4>
<button (click)='updateColor()'>Update color</button>
<h4 [style.color]="err? 'red':'green'">Condition style</h4>

<button type="button" class="btn btn-primary">Primary</button>

<h3>12 : Pass data parent to child/sibling comp</h3>

<!-- <div *ngFor='let user of users'>
  <app-child [hero]="user"></app-child>
</div> -->


<h3>13 : Child to parent</h3>
<app-child (parentcomp)="parentComponent($event)"></app-child>
<p>{{childToParent}}</p>

<h3>14 : Pipes</h3>
<p>{{employeeName | titlecase}}</p>
<p>{{today | date:'fullDate'}}</p>
<p>{{employeeName | slice:2}}</p>

<h3>15 : Simple routing</h3>
<a routerLink="">Home</a><br><br>
<a routerLink="about">About</a><br><br>
<a routerLink="contact">Contact</a><br><br>
<a routerLink="admin">Admin</a>

<router-outlet></router-outlet>

<h3>16 : Custom directive</h3>
<h3>Normal heading</h3>
<h3 appCustomStyle>Custom heading</h3>

<h3>17 : Service</h3>
<!-- <p>{{userData.name}} {{userData.age}}</p> -->

<table>
  <tr>
    <th>ID</th>
    <th>Todos</th>
  </tr>
  <tr *ngFor="let item of userData">
    <td>{{item.id}}</td>
    <td>{{item.todo}}</td>
  </tr>
</table>

<hr>
<app-child-testing name='Sumair' status="true" salary="8000" (myData)="fromChild($event)"></app-child-testing>

<p>{{currentObj.text}} {{currentObj.currentDateAndTime | date : 'fullDate' }}</p>


<p>{{phoneNumber | countrycode}}</p>

<!-- <app-child-testing name='Faraz' status="false" salary="6000"></app-child-testing>
<app-child-testing name='Osama' status="true" salary="7000"></app-child-testing> -->


<h1 #headingone>Heading one</h1>

